<ion-header [translucent]="true">
  <ion-toolbar class="ion-header-bg">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="userType === 'client'">EDIT EVENT</ion-title>
    <ion-title class="ion-text-center" *ngIf="userType === 'attendee'">VIEW EVENT</ion-title>

    <!-- Add Edit button to the right -->
    <ion-buttons *ngIf="userType === 'client'" slot="end">
      <ion-button *ngIf="!isEditing" (click)="toggleEditing()">Edit</ion-button>
      <ion-button *ngIf="isEditing" (click)="saveChanges()">Save</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-bg" [fullscreen]="true">
  <div *ngIf="isEditing" class="login-container">
    <ion-item>
      <ion-label position="floating">Event Agenda</ion-label>
      <ion-input [(ngModel)]="agenda" name="agenda" type="text" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Speaker</ion-label>
      <ion-input [(ngModel)]="speaker" name="agenda" type="text" required></ion-input>
      <!-- + Button Icon -->
      <ion-icon name="add" slot="end" (click)="addSpeaker()"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let speaker of speakers; let i = index">
      <ion-label position="floating">Additional Speaker</ion-label>
      <ion-input [(ngModel)]="speakers[i]" name="agenda" type="text" required></ion-input>
      <ion-icon name="remove" slot="end" (click)="removeSpeaker(i)"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Update</ion-label>
      <ion-input [(ngModel)]="update" name="update" type="text" required></ion-input>
      <ion-icon name="add" slot="end" (click)="addUpdate()"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let update of updates; let j = index">
      <ion-label position="floating">Additional Update</ion-label>
      <ion-input [(ngModel)]="updates[j]" name="update" type="text" required></ion-input>
      <ion-icon name="remove" slot="end" (click)="removeUpdate(j)"></ion-icon>
    </ion-item>

    <ion-item *ngIf="event && event?.eventDetails?.posterUrl">
      <ion-label>Delete current poster</ion-label>
      <ion-checkbox [(ngModel)]="deleteCurrentPoster"></ion-checkbox>
    </ion-item>

    <div class="file-input-container">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" />
      <label for="fileInput" class="file-input-label">
        <span>Upload poster</span>
        <i class="fas fa-cloud-upload-alt"></i>
      </label>
    </div>

  </div>

  <ion-grid *ngIf="!isEditing">

    <!-- Event Details Card -->

    <ion-reorder-group *ngIf="userType === 'attendee'" [disabled]="true" (ionItemReorder)="handleReorder($event)">
      <ion-reorder *ngFor="let item of event?.eventDetails?.dragAndDrop">

        <ion-card *ngIf="item === 'image'">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-img *ngIf="event?.eventDetails?.posterUrl" [src]="event?.eventDetails?.posterUrl" alt="Event Poster"
                class="poster"></ion-img>

            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="item === 'agenda'">
          <ion-row>
            <ion-col size="12">
              <ion-title class="agenda-title">{{ event?.eventDetails?.agenda }}</ion-title>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="item === 'speakers'">
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-list-header class="custom-list-header">Speakers</ion-list-header>
                <ion-item *ngFor="let speaker of event?.eventDetails?.speakers">{{ speaker }}</ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="item === 'exhibition'">
          <ion-row>
            <ion-col size="12">
              <ion-label class="exhibition-sname">Exhibition Name: {{ hall?.name }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="custom-card" *ngIf="item === 'registration'">

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button (click)="registerForEvent()">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="item === 'attendees'">
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-list-header class="custom-list-header">Attendees</ion-list-header>
                <ion-item *ngFor="let attendee of event?.attendees">{{ attendee }}</ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="item === 'updates'">
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-list-header class="custom-list-header">Updates</ion-list-header>
                <ng-container *ngIf="update !== ''">
                  <ion-item *ngFor="let update of event?.eventDetails?.updates">{{ update }}</ion-item>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-reorder>
    </ion-reorder-group>


    <ion-reorder-group *ngIf="userType === 'client'" [disabled]="false" (ionItemReorder)="handleReorder($event)">
      <ion-reorder *ngFor="let item of event?.eventDetails?.dragAndDrop">

        <ion-card class="ion-hall-bg" *ngIf="item === 'image'">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-img *ngIf="event?.eventDetails?.posterUrl" [src]="event?.eventDetails?.posterUrl" alt="Event Poster"
                class="poster"></ion-img>

            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-hall-bg" *ngIf="item === 'agenda'">
          <ion-row>
            <ion-col size="12">
              <!-- <ion-title class="agenda-title"></ion-title> -->
              <ion-list class="custom-background">
                <ion-list-header class="custom-list-header">{{ event.eventDetails.agenda }}</ion-list-header>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-hall-bg" *ngIf="item === 'speakers'">
          <ion-row>
            <ion-col size="12">
              <ion-list class="custom-card">
                <ion-list-header class="custom-list-header">Speakers</ion-list-header>
                <ion-item class="custom-item"
                  *ngFor="let speaker of event?.eventDetails?.speakers">{{ speaker }}</ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-hall-bg" *ngIf="item === 'exhibition'">
          <ion-row>
            <ion-col size="12">
              <ion-list class="custom-background">
                <ion-list-header class="custom-list-header">Exhibition Name: {{ hall?.name }}</ion-list-header>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-hall-bg" class="custom-card" *ngIf="item === 'registration'">

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button [disabled]="true" (click)="registerForEvent()">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="custom-card" class="ion-hall-bg" *ngIf="item === 'attendees'">
          <ion-row>
            <ion-col size="12">
              <ion-list class="custom-background">
                <ion-list-header class="custom-list-header">Attendees Attending</ion-list-header>
                <ion-item class="custom-item" *ngFor="let attendee of event?.attendees">{{ attendee }}</ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="custom-card" class="ion-hall-bg" *ngIf="item === 'updates'">
          <ion-row>
            <ion-col size="12">
              <ion-list class="custom-background">
                <ion-list-header class="custom-list-header">Updates</ion-list-header>
                <ng-container *ngIf="update !== ''">
                  <ion-item class="custom-item"
                    *ngFor="let update of event?.eventDetails?.updates">{{ update }}</ion-item>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-reorder>
    </ion-reorder-group>

  </ion-grid>


</ion-content>