.event-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.agenda-title {
    font-size: 1.5rem;
    font-weight: bold;
    // color: #333;
}

.custom-button {
    margin-top: 10px;
    --background: #4CAF50;
    --color: #fff;
}

.ion-header-bg {
    --background: #C3E2C2
}

.ion-content-bg {
    --background: #EAECCC
}

.ion-hall-bg {
    --background: #DBCC95
}

.ion-filter-bg {
    --background: rgba(255, 255, 255, 0.5);
    /* Transparent white background */
    border: 1px solid #ccc;
    /* Thin border color */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /* Tiny shadow */
}


.text-black {
    --color: black
}

.ion-btn-bg {
    --background: #CD8D7A
}

.custom-item {
    --background: #DBCC95 !important;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
    /* You can adjust the value as per your preference */
}