<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="userType === 'client'" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>events</ion-title>
    <ion-buttons *ngIf="userType === 'attendee'" slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-button *ngIf="userType === 'client'" (click)="createEvent()" class="ion-margin-top">Create Event</ion-button>

  <ng-container *ngFor="let event of events$ | async">
    <div *ngIf="event.eventStatus" (click)="onContainerClick(event)">
      <ion-card class="event-card ion-text-center" *ngIf="isDateToday(event.date)">
        <ion-card-content class="card-content">
          <img *ngIf="event.eventDetails.posterUrl !== ''" [src]="event.eventDetails.posterUrl" alt="Event Poster">
          <ion-card-title class="agenda-title">{{ event.eventDetails.agenda }}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>


</ion-content>