<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-button (click)="createEvent()" class="ion-margin-top">Create Event</ion-button>

  <ion-card *ngFor="let event of myEvents" class="event-card ion-text-center">
    <ion-card-content class="card-content">
      <img *ngIf="event.eventDetails.posterUrl !== ''" [src]="event.eventDetails.posterUrl" alt="Event Poster">
      <ion-card-title class="agenda-title">{{ event.eventDetails.agenda }}</ion-card-title>
      <ion-button (click)="editEvent(event)" class="custom-button">Edit</ion-button>
      <ion-button (click)="customizeEvent(event)" class="custom-button">Customize</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>