<ion-header [translucent]="true">
  <ion-toolbar class="ion-header-bg">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">RESERVATION REQUESTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-bg" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RequestedReservation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-hall-bg" *ngFor="let hall of combinedRequestedHalls">
    <ion-card-header>
      <ion-card-title>{{ hall.hallName }}</ion-card-title>
      <ion-card-subtitle>{{ formatDate(hall.reservationDate) }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Email: {{ hall.email }}</p>
    </ion-card-content>

    <ion-card-footer class="card-footer">
      <ion-button color="danger" (click)="rejectRequest(hall)" class="reject-button">Reject</ion-button>
      <ion-button color="success" (click)="approveRequest(hall)" class="approve-button">Approve</ion-button>
    </ion-card-footer>
  </ion-card>
</ion-content>