.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

ion-item {
    width: 80%;
    /* Adjust the width of the input fields */
    margin-bottom: 15px;
    /* Adjust the margin between input fields */
}

ion-button {
    width: 80%;
    /* Adjust the width of the button */
}

.ion-header-bg {
    --background: #C3E2C2
}

.ion-content-bg {
    --background: #EAECCC
}

.ion-hall-bg {
    --background: #DBCC95
}

.ion-filter-bg {
    --background: rgba(255, 255, 255, 0.5);
    /* Transparent white background */
    border: 1px solid #ccc;
    /* Thin border color */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /* Tiny shadow */
}


.text-black {
    --color: black
}

.ion-btn-bg {
    --background: #CD8D7A
}

.custom-item {
    --background: #DBCC95 !important;
}