<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>createHall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Hall</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" name="Name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Capacity</ion-label>
      <ion-input [(ngModel)]="capacity" name="Capacity" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">No. of booths fitting</ion-label>
      <ion-input [(ngModel)]="numberOfBoothsFitting" name="No. of booths fitting" type="string" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Business Development team contact</ion-label>
      <ion-input [(ngModel)]="BDTeamContact" name="Business Development team contact" type="email" required></ion-input>
    </ion-item>

    <ion-button (click)="createHalls()">Create Hall</ion-button>


  </div>
</ion-content>