<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ViewHall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ isUpdating ? 'Edit Hall' : hall.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="!isUpdating; else editMode">
        <!-- Display mode -->
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-text>{{ hall.name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Capacity:</ion-label>
          <ion-text>{{ hall.capacity }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Number of Booths Fitting:</ion-label>
          <ion-text>{{ hall.numberOfBoothsFitting }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>BD Team Contact:</ion-label>
          <ion-text>{{ hall.BDTeamContact }}</ion-text>
        </ion-item>
      </ion-list>

      <ng-template #editMode>
        <!-- Edit mode -->
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-input [(ngModel)]="hall.name" placeholder="Enter Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Capacity:</ion-label>
          <ion-input [(ngModel)]="hall.capacity" placeholder="Enter Capacity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Number of Booths Fitting:</ion-label>
          <ion-input [(ngModel)]="hall.numberOfBoothsFitting" placeholder="Enter Booths"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>BD Team Contact:</ion-label>
          <ion-input [(ngModel)]="hall.BDTeamContact" placeholder="Enter Contact"></ion-input>
        </ion-item>
      </ng-template>
    </ion-card-content>
  </ion-card>


  <!-- Buttons for Admin -->
  <div *ngIf="userType === 'admin'" class="admin-buttons">
    <ion-button *ngIf="!isUpdating" color="warning" (click)="updateHall()">Update</ion-button>
    <ion-button *ngIf="isUpdating" color="success" (click)="saveHall()">Save</ion-button> <ion-button color="danger"
      (click)="deleteHall(hall.id)">Delete</ion-button>
  </div>
</ion-content>