<ion-header [translucent]="true">
  <ion-toolbar class="ion-header-bg">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{hall.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-bg" [fullscreen]="true">
  <ion-card class="ion-hall-bg">
    <ion-card-header>
      <ion-card-title>{{ isUpdating ? 'Edit Hall' : hall.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="custom-background" *ngIf="!isUpdating; else editMode">
        <!-- Display mode -->
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-text>{{ hall.name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Capacity:</ion-label>
          <ion-text>{{ hall.capacity }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Number of Booths Fitting:</ion-label>
          <ion-text>{{ hall.numberOfBoothsFitting }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>BD Team Contact:</ion-label>
          <ion-text>{{ hall.BDTeamContact }}</ion-text>
        </ion-item>
      </ion-list>

      <ng-template #editMode>
        <!-- Edit mode -->
        <ion-list class="custom-background">

          <ion-item>
            <ion-label>Name:</ion-label>
            <ion-input [(ngModel)]="hall.name" placeholder="Enter Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Capacity:</ion-label>
            <ion-input [(ngModel)]="hall.capacity" placeholder="Enter Capacity"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Number of Booths Fitting:</ion-label>
            <ion-input [(ngModel)]="hall.numberOfBoothsFitting" placeholder="Enter Booths"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>BD Team Contact:</ion-label>
            <ion-input [(ngModel)]="hall.BDTeamContact" placeholder="Enter Contact"></ion-input>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-card-content>
  </ion-card>
  <!-- 
  <ion-card *ngIf="userType === 'client'">
    <ion-card-header>
      <ion-card-title>Available Dates</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let dateItem of dateArray">
          <ion-label>{{ dateItem.date }}</ion-label>
          <ion-icon *ngIf="!dateItem.isReserved" name="checkmark-circle" color="success"></ion-icon>
          <ion-icon *ngIf="dateItem.isReserved" name="close-circle" color="danger"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <ion-card class="ion-avd-bg" *ngIf="userType === 'client'">
    <ion-card-header>
      <ion-card-title>Available Dates</ion-card-title>
      <!-- Use ion-button for a pressable filter icon -->
      <ion-button class="filter-btn" fill="clear" (click)="openDateFilter()">
        <!-- <ion-icon name="calendar"></ion-icon> -->
        Filter Dates
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="custom-background-avd">
        <ion-item *ngFor="let dateItem of dateArray">
          <ion-label>{{ dateItem.date }}</ion-label>
          <ion-icon *ngIf="!dateItem.isReserved" name="checkmark-circle" color="success"></ion-icon>
          <ion-icon *ngIf="dateItem.isReserved" name="close-circle" color="danger"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <!-- Buttons for Admin -->
  <div *ngIf="userType === 'admin'" class="admin-buttons">
    <ion-button *ngIf="!isUpdating" color="warning" (click)="updateHall()">Update</ion-button>
    <ion-button *ngIf="isUpdating" color="success" (click)="saveHall()">Save</ion-button>
    <ion-button color="danger" (click)="deleteHall(hall.id)">Delete</ion-button>
  </div>
  <div *ngIf="userType === 'client'" class="admin-buttons">
    <ion-button class="ion-btn-bg" (click)="reserveHall()">Reserve Hall</ion-button>
  </div>
</ion-content>