<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Signup</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <!-- Add the ion-select for account type -->
    <ion-item>
      <ion-label>Account Type</ion-label>
      <ion-select [(ngModel)]="accountType" name="accountType" placeholder="Choose Account Type">
        <ion-select-option value="attendee">Attendee</ion-select-option>
        <ion-select-option value="client">Client</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button (click)="signup()">Signup</ion-button>
  </div>
</ion-content>