.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

ion-item {
    width: 80%;
    /* Adjust the width of the input fields */
    margin-bottom: 15px;
    /* Adjust the margin between input fields */
}

ion-button {
    width: 80%;
    /* Adjust the width of the button */
}