.compact-date {
    width: auto;
    max-width: 120px;
    /* Adjust the width as needed */
}

.filter-input {
    border: 1px solid #ccc;
    /* Add a border for a boxed appearance */
    border-radius: 5px;
    /* Optional: Add rounded corners */
    padding: 5px;
    /* Adjust padding as needed */
}

.filter-input-field {
    width: 100%;
    /* Make the input fill the container */
    font-size: 14px;
    /* Adjust font size as needed */
    padding: 5px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}