.compact-date {
    width: auto;
    max-width: 120px;
    /* Adjust the width as needed */
}

.filter-input {
    border: 1px solid #ccc;
    /* Add a border for a boxed appearance */
    border-radius: 5px;
    /* Optional: Add rounded corners */
    padding: 5px;
    /* Adjust padding as needed */
}

.filter-input-field {
    width: 100%;
    /* Make the input fill the container */
    font-size: 14px;
    /* Adjust font size as needed */
    padding: 5px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.custom-select-container .custom-placeholder {
    color: gray;
    /* Change the color to your preference */
    text-align: center;
}

.ion-header-bg {
    --background: #C3E2C2
}

.ion-content-bg {
    --background: #EAECCC
}

.ion-hall-bg {
    --background: #DBCC95
}

.ion-filter-bg {
    --background: rgba(255, 255, 255, 0.5);
    /* Transparent white background */
    border: 1px solid #ccc;
    /* Thin border color */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /* Tiny shadow */
}


.text-black {
    --color: black
}

.ion-btn-bg {
    --background: #CD8D7A
}